services:
  core:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - sqlite-data:/app/data
    networks:
      - app404

volumes:
  sqlite-data:

networks:
  app404:
    external: true
    name: app404_net